<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Montserrat' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <div class="well">
                    <div class="form-group">
                      <div>
                        <font size="6vh">Live Sentences</font>&nbsp;&nbsp;
                        <form class="form-inline block-inline" action="/{{name}}" method="POST">
                          <div class="form-group">
                            <input type="hidden" class="form-control" id="new" name="new" value="new">
                            <button class="btn-lg" type="submit">Start New Sentence <span class="btn-group"></span></button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div>
                        {% for id, data in sentences.iteritems() %}
                            <p class="panel panel-default">
                                {% set s = data["sentence"] %}
                                {% if s %}
                                    {% for word in s %}
                                        <span>{{ word }}</span>
                                    {% endfor %}
                                {% else %}
                                    &lt;Empty&gt;
                                {% endif %}
                                </br>
                                <a class="btn btn-default btn-xs " href="{{name}}/{{id}}" role="button">Go</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5 well">
                <h3>Popular Sentences</h3>
                <div id="posts"></div>
            </div>
        </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        var postobj = {a: 0};
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                postobj["a"] = msg.count;
            });

            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#vote').submit(function() {
                socket.emit('my vote event');
                return false;
            });
        });
    </script>
    <!-- D3 kickoff -->
    <script>
function getjson(post) {
    var count = 0;
    if (post > count){
        count = post;
    }
    d3.json('/posts/' + count, function(error, json) {
        if (error) {
            return console.warn(error)
        }
        d3.select("div#posts").selectAll("p")
            .data(Object.keys(json))

          .enter().append("p")
          .text(function(d) { return json[d].sentence.join(' '); })
          .attr("class", function(d) { return "panel panel-default"; })
          .style("color", "#2265AA")


          .call(function(insideP) {
            insideP.append("form")
                .attr("class", function(d) { return "form-inline"; })
                .attr("action", function(d) { return "/" + {{name|tojson|safe}}; })
                .attr("method", function(d) { return "POST"; })
              .call(function(insideForm) {
                  insideForm.append("div")
                      .attr("class", function(d) { return "form-group"; })
                      .attr("class", function(d) { return "float"; })
                  .call(function(insideDiv) {
                      insideDiv.append("input")
                          .attr("type", function(d) { return "hidden"; })
                          .attr("class", function(d) { return "form-control"; })
                          .attr("id", function(d) { return "vote"; })
                          .attr("name", function(d) { return "upvote"; })
                          .attr("value", function(d) { return "upvote"+d; })
                      insideDiv.append("button")
                          .attr("type", function(d) { return "submit"; })
                          .attr("class", function(d) { return "glyphicon glyphicon-thumbs-up btn btn-default btn-xs thumb"; })
                          .text(function(d) { return json[d].upvotes.length; })
                  });
              });
            insideP.append("form")
                .attr("class", function(d) { return "form-inline"; })
                .attr("action", function(d) { return "/" + {{name|tojson|safe}}; })
                .attr("method", function(d) { return "POST"; })
              .call(function(insideForm) {
                  insideForm.append("div")
                      .attr("class", function(d) { return "form-group"; })
                  .call(function(insideDiv) {
                      insideDiv.append("input")
                          .attr("type", function(d) { return "hidden"; })
                          .attr("class", function(d) { return "form-control"; })
                          .attr("id", function(d) { return "vote"; })
                          .attr("name", function(d) { return "downvote"; })
                          .attr("value", function(d) { return "downvote"+d; })
                      insideDiv.append("button")
                          .attr("type", function(d) { return "submit"; })
                          .attr("class", function(d) { return "glyphicon glyphicon-thumbs-down btn btn-default btn-xs thumb"; })
                          .text(function(d) { return json[d].downvotes.length; })

                  });
              });
          });
    });
}

function watch(obj, prop, handler) {
    var currval = obj[prop];
    function callback() {
        if (obj[prop] !== currval) {
            var temp = currval;
            currval = obj[prop];
            handler(temp, currval);
        }
    }
    return callback;
}

var myhandler = function(oldval, newval) {
    getjson(newval);
};

var intervalH = setInterval(watch(postobj, "a", myhandler), 200);

postobj.set_a(2);
    </script>
  </body>
</html>
