<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Montserrat' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <div class="well">
				<div class="form-group">
                    <h1>Live Sentences</h1>
					<button class="btn-lg btn-primary btn-block" type="submit">Start new sentence</button>
                 </div>   
					<div class="panel panel-default">
                        {% for id, data in sentences.iteritems() %}
                            <p>
                                {% set s = data["sentence"] %}
                                {% for word in s %}
                                    <span>{{ word }}</span>
                                {% endfor %}
                                </br>
                                <a class="btn btn-default btn-xs " href="{{name}}/{{id}}" role="button">Go</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5 well">
                <h3>Popular Sentences</h3>
                <div id="posts"></div>
            </div>
        </div>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- D3 kickoff -->
    <script>
d3.json('/posts', function(error, json) {
    if (error) {
        return console.warn(error)
    }
    d3.select("div#posts").selectAll("p")
        .data(Object.keys(json))

      .enter().append("p")
      .text(function(d) { return json[d].sentence.join(' '); })
      .attr("class", function(d) { return "panel panel-default"; })
      .style("color", "#2265AA")


      .call(function(insideP) {
        insideP.append("form")
            .attr("class", function(d) { return "form-inline"; })
            .attr("action", function(d) { return "/" + {{name|tojson|safe}}; })
            .attr("method", function(d) { return "POST"; })
          .call(function(insideForm) {
              insideForm.append("div")
                  .attr("class", function(d) { return "form-group"; })
                  .attr("class", function(d) { return "float"; })
              .call(function(insideDiv) {
                  insideDiv.append("input")
                      .attr("type", function(d) { return "hidden"; })
                      .attr("class", function(d) { return "form-control"; })
                      .attr("id", function(d) { return "upvote"+d; })
                      .attr("name", function(d) { return "upvote"; })
                      .attr("value", function(d) { return "upvote"+d; })
                  insideDiv.append("button")
                      .attr("type", function(d) { return "submit"; })
                      .attr("class", function(d) { return "glyphicon glyphicon-thumbs-up btn btn-default btn-xs thumb"; })
                      .text(function(d) { return json[d].upvotes.length; })
              });
          });
        insideP.append("form")
            .attr("class", function(d) { return "form-inline"; })
            .attr("action", function(d) { return "/" + {{name|tojson|safe}}; })
            .attr("method", function(d) { return "POST"; })
          .call(function(insideForm) {
              insideForm.append("div")
                  .attr("class", function(d) { return "form-group"; })
              .call(function(insideDiv) {
                  insideDiv.append("input")
                      .attr("type", function(d) { return "hidden"; })
                      .attr("class", function(d) { return "form-control"; })
                      .attr("id", function(d) { return "downvote"+d; })
                      .attr("name", function(d) { return "downvote"; })
                      .attr("value", function(d) { return "downvote"+d; })
                  insideDiv.append("button")
                      .attr("type", function(d) { return "submit"; })
                      .attr("class", function(d) { return "glyphicon glyphicon-thumbs-down btn btn-default btn-xs thumb"; })
                      .text(function(d) { return json[d].downvotes.length; })

              });
          });
      });
});
    </script>
  </body>
</html>
