<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        
        <title>Nupeg System</title>
        
        <!-- Core P5.JS libraries --
        <script language="javascript" src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.3.13/p5.min.js"></script> -->
        <script language="javascript" type="text/javascript" src="../p5.min.js"></script> 

        <!-- Extra p5.JS libraries --
        <script language="javascript" src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.3.13/addons/p5.dom.js"></script>
        <script language="javascript" src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.3.13/addons/p5.sound.js"></script> -->
        <script language="javascript" src="../addons/p5.dom.js"></script>
        <script language="javascript" src="../addons/p5.sound.js"></script>

        <!-- Main P5.JS sketch -->
        <script language="javascript" type="text/javascript" src="playSketch.js"></script>

        <!-- Bootstrap core CSS --
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Optional Bootstrap theme --
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <!-- Custom styles for this template -->
        <link href="static/css/starter-template.css" rel="stylesheet">

        <!-- Bootstrap JS requires JQuery to be loaded first --
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script src="static/js/jquery.min.js"></script>
        <!-- Bootstrap core JavaScript - Placed at the end of the document so the pages load faster --
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
        <script src="static/js/bootstrap.min.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug --
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->
        <script src="static/js/ie10-viewport-bug-workaround.js"></script>

    </head>

    <body><!-- background="data/blue-grass-tranz.jpg" -->
        
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index">Nupeg System Drill</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="play">Play</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players<span class="caret"></span></a>
                         <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Player 1</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Player 2</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Player 3</a></li>
                         </ul>
                    </li>
                    <!-- <li><a href="#">About</a></li> -->
                  </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div>
        
        <div class="starter-template" class="container theme-showcase" role="main">
            <div class="container">
            
                <div class="row">
                    <div class="col-lg-2">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-0.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-1.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-2.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-3.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-4.jpg" width="85%" height="80%">
                    </div>
                    <div class="col-lg-8"><!--centre column-->
                        <div class="panel-body">
                            <center><img src="static/data/images/remember-numbers-mnemonics.png"></center>
                        </div>
                        </p>
                        <h3>Game design step by step</h3>
                        numeric peg system use to memorise numbers long term
                        teach user to the associate and remember image to the 0-9 number 
                        Game 1 Cipher picture to correct number 
                        game 1 ask for user input "string number"
                        </p>
                        <div>
                            <h5><a href="play"><span style="float:right">Play</span></a></h5><br>
                        
                        </div>
                    <div class="col-lg-2"></div>
                    </div><!--end centre column -->
                    <div class="col-lg-2">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-5.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-6.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-7.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-8.jpg" width="85%" height="80%">
                        <img src="static/data/numLogos/Memphis-Numbers-Series-9.jpg" width="85%" height="80%">
                    </div>
                </div><!--end Row 2 -->
                
                <div class="row">
                    <div class="col-lg-12"></div>
                        <footer>
                            <span style="float:right"> &copy; Kola, Mason, Simon (codezoners 2015)</span>
                        </footer>
                    </div>
                </div>
                
            </div>
        </div><!-- /.container closed-->

    </body>
</html>
